@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Source+Sans+Pro:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Open+Sans:wght@400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.445),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 17, 255, 0.685), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  border-radius: 2px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.4;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.container {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.header-section {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 25;
}
header.header-container {
  background: transparent;
  transition: all 0.35s;
}

.header-section.scrolling .header-container {
  background-color: #fff;
}

.header-section.scrolling a.nav-link {
  color: #414c5a;
}

.header-section.scrolling a.nav-link.nav-links-download {
  background: linear-gradient(45deg, #19d9b4 0%, #92d275 100%);
  color: white;
}

.navigation-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: grid;
  place-items: center;
}

.logo-container img {
  max-width: 100%;
  height: 40px;
  object-fit: cover;
}
.nav-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links-container ul {
  list-style: none;
  display: none;
}

.nav-link.nav-links-download {
  background-color: white;
  border-radius: 70px;
  color: #8089ff;
  padding: 6.4px 16px;
}

a.nav-link {
  display: inline-block;
  color: white;
  padding: 0 16px;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.5s;
}

a.nav-link:hover {
  color: #8089ff;
  transform: translateY(-2px);
}

/* hero section start  */

.hero-section {
  width: 100%;
  height: auto;
  padding-top: 100px;
  text-align: center;
  position: relative;
  background: linear-gradient(45deg, #8089ff 0%, #54ceff 100%);
  z-index: 0;
}

.hero-section::before {
  content: "";
  background-repeat: repeat;
  background-image: url("./assests/hero-bg-first-layer.svg");
  background-position: center center;
  opacity: 0.3;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-size: contain;
}

.hero-section::after {
  display: block;
  content: "";
  height: 12%;
  background: url(./assests/hero-bg-waves.svg) bottom no-repeat;
  background-size: contain;
  position: absolute;
  bottom: -1px;
  left: -20%;
  right: -20%;
  z-index: -1;
}

.hero-container {
  max-width: 80%;
  margin: 0 auto;
  height: auto;
  padding-top: 60px;
  text-align: center;
}

.hero-container h1 {
  font-size: 56px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 16px;
}

p.hero-paragraph {
  font-size: 1.1rem;
  color: #fff;
  letter-spacing: 1px;
}

.hero-buttons {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.hero-button {
  font-size: 0.95rem;
  font-weight: 600;
  padding: 15px 36px;
  border: none;
  display: inline-block;
  color: #fff;
  border-radius: 80px;
  letter-spacing: 0.03rem;
}

.hero-button-first {
  margin-right: 16px;
  background: -moz-linear-gradient(45deg, #8089ff 0%, #54ceff 100%);
  background: linear-gradient(45deg, #8089ff 0%, #54ceff 100%);
  cursor: pointer;
}

.hero-button-second {
  background: -moz-linear-gradient(45deg, #19d9b4 0%, #92d275 100%);
  background: linear-gradient(45deg, #19d9b4 0%, #92d275 100%);
  cursor: pointer;
}

.hero-center-image-container {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 75px;
}

.nav-links-list {
  display: none;
}

.hero-center-image {
  display: inline-block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.hamburger {
  cursor: pointer;
  padding: 7px;
  z-index: 501;
  border-radius: 4px;
  transition: all 0.3s;
  background: transparent;
  margin-left: 15px;
}

.hamburger.change {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line {
  width: 30px;
  height: 3px;
  color: #fff;
  background-color: #fff;
  margin: 5px;
  display: block;
  transition: all 0.5s;
}

.header-section.scrolling line {
  background-color: #414c5a;
}

#line-1 {
  transform: translateY(0px);
  transition: all 0.5s;
}

#line-3 {
  transform: translateY(0px);
  transition: all 0.5s;
}

.change .line {
  background: #fff;
  transition: all 0.5s;
}

.change #line-1 {
  transform: translateY(8px) rotateZ(-45deg);
  transition: all 0.5s;
}

.change #line-2 {
  transition: all 0.5s;
  opacity: 0;
}

.change #line-3 {
  transform: translateY(-8px) rotateZ(45deg);
  transition: all 0.5s;
}

.nav-link-slides {
  display: flex;
  background-color: #fff;
  flex-direction: row;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 20px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -2;
  display: none;
}

.nav-link-slides ul {
  list-style: none;
  background-color: #fff;
}

.nav-link-slides ul li {
  margin-top: 10px;
}

.nav-link-slides ul li a {
  font-weight: 600;
  color: #414c5a;
}

/* hero section end  */

/* Features section start */

.features-section {
  width: 100%;
  background-color: #fff;
  padding: 100px 0;
}

.features-section-container {
  max-width: 80%;
  margin: 0 auto;
}

.features-section-content {
  text-align: center;
  margin-bottom: 64px;
}
.features-section-heading {
  font-size: 30px;
  color: #8089ff;
  margin-bottom: 22px;
}

.features-section-paragraph {
  font-size: 17.6px;
  color: #59687c;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.mobile-outer-layer {
  position: relative;
}

.features-tab-container {
  display: flex;
  flex: 1;
}

.features-left-view {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-right-view {
  flex: 0.5;
}

.features-mobile-screen {
  display: flex;
  position: absolute;
  top: 72px;
  left: 35px;
  width: 250px;
  overflow: hidden;
}

.features-screen-image {
  display: inline-block;
  margin-right: 20px;
}

.features-dot-view .dots {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.features-sub-heading {
  margin: 32px 0;
  color: #708198;
}

.features-right-view {
  margin-top: 100px;
}

.features-links-container {
  display: flex;
  justify-content: space-between;
}

.features-links-container a {
  font-size: 16px;
  display: inline-block;
  color: #59687c;
  padding: 8px 16px;
  border-radius: 0.25rem;
}

.feature-link.active {
  background-color: #8089ff;
  box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035),
    0 7px 18px rgba(0, 9, 128, 0.05);
  color: #fff;
}

.checklist-container {
  display: flex;
  margin-bottom: 16px;
}

.checklist-container em {
  font-size: 1.2rem;
  color: #708198;
  margin-right: 10px;
}

.checklist-container h6 {
  font-size: 1rem;
  color: #708198;
}

/* Features section end */
.video-section {
  width: 100%;
  background-color: #19d9b4;
  color: rgba(255, 255, 255, 0.85);
  height: 485px;
}

.video-section-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex: 1;
  align-items: center;
  transform: translateY(25px);
}

.video-container-left {
  flex: 0.5;
}

.video-container-right {
  flex: 0.5;
}

.video-container-heading {
  font-size: 32px;
  margin-bottom: 28px;
  color: #fff;
}

.video-container-paragraph {
  font-size: 17.6px;
  margin-bottom: 28px;
  color: #fff;
}

.play-icon {
  padding: 15px;
  border-radius: 50%;
  background: #8089ff;
  font-size: 16px;
  margin-right: 15px;
  color: #fff;
}

.video-container-link {
  color: #fff;
}

.something {
  background: #fff;
  padding: 200px 0;
}

/* steps-section-container start */
.steps-section {
  width: 100%;
  background: #fff;
  padding: 110px 0;
}

.steps-container {
  max-width: 80%;
  margin: 0 auto;
}

.steps-container-content {
  text-align: center;
  margin-bottom: 64px;
}
.steps-container-heading {
  font-size: 32px;
  margin-bottom: 28px;
  color: #8089ff;
}

.steps-container-paragraph {
  color: #59687c;
  font-size: 1.1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

.steps-box-container {
  display: flex;
  flex: 1;
  max-width: 90%;
  margin: 0 auto;
  align-items: center;
  padding: 32px 0;
}

.steps-box-left {
  flex: 0.5;
  text-align: left;
  padding: 0 6rem;
}

.steps-box-right {
  flex: 0.5;
  padding: 0 6rem;
}

.steps-box-left-heading {
  color: #59687c;
  line-height: 1.1;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 8px;
}
.steps-box-left-paragraph {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #708198;
  margin-bottom: 16px;
}

.steps-explore-link {
  font-size: 14.4px;
  color: #8089ff;
  display: inline-block;
}

.steps-right-arrow {
  margin-left: 6px;
  font-weight: 600;
  letter-spacing: 00.03rem;
}

.steps-box-total-container {
  position: relative;
}

.steps-circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
  font-size: 1.8rem;
  background: linear-gradient(45deg, #19d9b4 0%, #92d275 100%);
  text-align: center;
  font-weight: 600;
  outline: 10px solid rgba(0, 0, 0, 0.1);
}

.step-circle-one {
  position: absolute;
  left: 50%;
  top: 12%;
}

.step-circle-two {
  position: absolute;
  left: 50%;
  top: 47%;
}

.step-circle-three {
  position: absolute;
  left: 50%;
  top: 77%;
}

.steps-line {
  display: inline-block;
  width: 4px;
  height: 315px;
  background-color: #c9d0d8;
  position: absolute;
  left: 51.4%;
}

.step-line-one {
  top: 17.4%;
}

.step-line-two {
  top: 52%;
  height: 265px;
}

.steps-image {
  max-width: 400px;
  height: auto;
  object-fit: cover;
}
.steps-center-content {
  transform: translateY(47px);
}

.available-on {
  width: 100%;
  padding: 13rem 0 0 0;
  background-color: #8089ff;
  position: relative;
  z-index: 1;
}

.available-on-left {
  flex: 0.5;
  z-index: 3;
}

.available-on-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex: 1;
  align-items: center;
}

.available-on-right {
  flex: 0.5;
}

.available-on-right-heading {
  font-size: 32px;
  color: #fff;
  margin-bottom: 28px;
}

.available-on-right-paragraph {
  font-size: 18px;
  margin-bottom: 28px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.store-logo {
  width: 32px;
  display: inline-block;
  margin-right: 12px;
}

.store-container {
  display: flex;
  padding: 10px 20px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.store-content {
  display: flex;
  flex-direction: column;
}

.store-link {
  text-transform: uppercase;
  color: #ffffffd9;
  font-size: 12px;
}

.store-section {
  display: flex;
  gap: 20px;
}

.apple-store-container {
  background: -moz-linear-gradient(45deg, #8089ff 0%, #54ceff 100%);
  background: linear-gradient(45deg, #8089ff 0%, #54ceff 100%);
}

.play-store-container {
  background: -moz-linear-gradient(45deg, #19d9b4 0%, #92d275 100%);
  background: linear-gradient(45deg, #19d9b4 0%, #92d275 100%);
}

.available-on::before,
.available-on::after {
  display: block;
  content: "";
  position: absolute;
  left: -8rem;
  right: -8rem;
  top: -4rem;
  height: 14rem;
  background-color: rgb(255, 255, 255);
  transform: rotate(-5.5deg);
  z-index: 2;
}

.available-on::after {
  top: 45rem;
}
.app-screens-section {
  width: 100%;
  padding: 160px 0 100px 0;
}

.app-screens-container {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}

/* app screens styling start */

.app-screens-container-heading {
  font-size: 32px;
  margin-bottom: 28px;
  color: #8089ff;
}

.app-screens-container-content {
  margin-bottom: 64px;
}

.app-screens-container-paragraph {
  color: #59687c;
  font-size: 1.1rem;
  max-width: 500px;
  margin: 0 auto;
}

.carausol-container {
  display: flex;
  overflow: hidden;
  margin-bottom: 32px;
}

.carausol-button {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-right: 8px;
  border-radius: 50%;
}

/* app screens styling end */

.integrate-section {
  width: 100%;
  background-color: #19d9b4;
  padding: 8rem 0;
}

.integrate-section-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex: 1;
  align-items: center;
}

.integrate-container-left {
  flex: 0.5;
}

.integrate-container-right {
  flex: 0.5;
}

.integrate-container-left-content {
  display: flex;
  flex-direction: column;
}

.integrate-container-left-content-heading {
  font-size: 32px;
  margin-bottom: 28px;
  color: #fff;
}

.integrate-container-left-content-paragraph {
  font-size: 18px;
  margin-bottom: 28px;
  color: #fff;
}

.integrate-logo-section {
  display: flex;
  gap: 10px;
  margin-bottom: 32px;
}
.integrate-logo-section-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
}

.integrate-logo-image {
  font-size: 20px;
  line-height: 1;
  color: #ffffffd9;
  margin-top: 5px;
  display: inline-block;
}

.integrate-logo-section-content {
  display: flex;
  flex-direction: column;
}

.integrate-logo-section-content-paragraph {
  color: #ffffffd9;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
}

.integrate-explore-links {
  font-size: 15px;
  color: #ffffffd9;
  margin-top: 16px;
}

.integrate-container-right {
  display: flex;
  flex-direction: column;
}

.integrate-logo-row-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 100%;
}

/* faq section  */

.faq-section {
  width: 100%;
  background: #f6f7f8;
  padding: 8rem 0;
}

.faq-container {
  max-width: 80%;
  margin: 0 auto;
}
.faq-container-content {
  text-align: center;
  margin-bottom: 64px;
}

.faq-container-content-heading {
  font-size: 32px;
  margin-bottom: 28px;
  color: #8089ff;
}

.faq-container-content-paragraph {
  max-width: 500px;
  font-size: 18px;
  margin: 0 auto;
  font-weight: 500;
  color: #59687c;
  font-family: "Open Sans", sans-serif;
}

.faq-section-bottom-container {
  display: flex;
  flex: 1;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 9, 128, 0.05), 0 2px 5px rgba(0, 9, 128, 0.035);
}

.faq-section-left {
  flex: 0.5;
}

.faq-section-right {
  flex: 0.5;
}

.faq-toggle-container {
  background-color: #fff;
  color: #414c5a;
  padding: 16px 24px;
  margin-bottom: 16px;
}

.faq-toggle-container-top {
  display: flex;
  justify-content: space-between;
  font-size: 18px;

  align-items: center;
}

.faq-down-icon {
  font-size: 20px;
}

.faq-toggle-container-bottom-paragraph {
  color: #708198;
  font-size: 16px;
  margin-bottom: 4px;
}

.faq-learn-more {
  font-size: 18px;
  color: #8089ff;
}

.faq-toggle-container-top-heading {
  font-size: 18px;
}

.testimonials-section {
  background-color: white;
  width: 100%;
  padding: 8rem 0;
}

.testimonials-container-top {
  text-align: center;
  margin-bottom: 64px;
}

.testimonials-container {
  max-width: 80%;
  margin: 0px auto;
  overflow: hidden;
}

.testimonials-container-top-heading {
  margin-bottom: 28px;
  font-size: 32px;
  color: #8089ff;
  font-weight: 700;
}

.testimonials-container-top-paragraph {
  font-size: 18px;
  font-weight: 400;
  color: #59687c;
}

.testimonials-image-container {
  display: flex;
  flex-direction: column;
  min-width: 360px;
  height: 240px;
  padding: 24px;
}

.testimonial-review-bottom-heading {
  color: #59687c;
  margin: 4px 0;
  font-size: 16px;
}

.testimonial-review-bottom {
  display: flex;
  margin-top: 16px;
}

.testimonial-sub-heading {
  font-size: 15.2px;
  color: #708198;
}

.testimonial-review-top {
  font-family: "Source Sans Pro", sans-serif;
  color: #414c5a;
  margin-bottom: 0;
  font-weight: 600;
  position: relative;
  padding: 1.5rem;
  overflow: visible;
  text-align: center;
  box-shadow: 0 3px 5px rgba(0, 9, 128, 0.05), 0 4px 10px rgba(0, 9, 128, 0.035);
}

.testimonial-review-top::before {
  display: block;
  position: absolute;
  content: "";
  background-image: url("./assests/double-comma.svg");
  background-size: cover;
  top: 0.75rem;
  left: 1rem;
  width: 40px;
  height: 40px;
  opacity: 0.2;
}

.testimonial-review-top::after {
  display: block;
  font-family: "FontAwesome";
  content: "\f0d7";
  position: absolute;
  top: 100%;
  font-size: 50px;
  height: 10px;
  line-height: 10px;
  left: 1rem;
  color: #fff;
  text-shadow: 0 5px 5px rgba(0, 9, 128, 0.05), 0 5px 10px rgba(0, 9, 128, 0.05);
}

.testimonials-dots {
  display: flex;
  justify-content: center;
}

.testimonial-dot {
  width: 8px;
  height: 8px;
  margin-right: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  margin-top: 15px;
}

.testimonials-container-bottom {
  display: flex;
}

.download-section {
  background-color: #8089ff;
  padding: 8rem 0;
}

.download-container {
  max-width: 80%;
  margin: 0 auto;
  text-align: center;
}
.download-logo-container {
  text-align: center;
  margin-bottom: 2rem;
}

.download-logo-image {
  display: inline-block;
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 1.25rem;
  box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035),
    0 7px 18px rgba(0, 9, 128, 0.05);
}

/* download section  */
.download-container-content-heading {
  margin-bottom: 28px;
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
}

.download-container-content {
  margin-bottom: 4rem;
}

.download-container-content-paragraph {
  color: #fff;
  font-size: 18px;
}

.download-store.store-section {
  justify-content: center;
}

.footer-section {
  padding: 1.25rem 0;
  background-color: #59687c;
}

.footer-container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex: 1;
}

.footer-container-left {
  flex: 0.5;
}

.footer-container-right {
  flex: 0.5;
  display: flex;
  justify-content: right;
}

.footer-container-paragraph {
  font-size: 14.4px;
  color: #ffffffd9;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  width: 37px;
  height: 37px;
  background-color: black;
  border-radius: 100%;
  color: #ffffffd9;
  margin-right: 5px;
}

.footer-links.footer-links-one {
  background: linear-gradient(45deg, #8089ff 0%, #54ceff 100%);
}

.footer-links.footer-links-two {
  background: linear-gradient(45deg, #fe60a1 0%, #ff8765 100%);
}

.footer-links.footer-links-three {
  background: -moz-linear-gradient(45deg, #19d9b4 0%, #92d275 100%);
  background: linear-gradient(45deg, #19d9b4 0%, #92d275 100%);
}

.footer-links.footer-links-four {
  background: linear-gradient(45deg, #fd81b5 0%, #c961f7 50%, #8089ff 100%);
}

/* Media queries  start 1024px*/

@media only screen and (min-width: 1024px) {
  .nav-links-container ul.nav-links-list {
    display: flex;
  }

  .hamburger {
    display: none;
  }
}

/* Media queries  end 1024px*/
